
body{
  font:13px/1.3 'Lucida Grande',sans-serif;
  color:#666;
}

.chart{
  display:table;
  table-layout: fixed;   
  
  width:60%;
  max-width:700px;
  height:200px;
  margin:0 auto;
  
  background-image:linear-gradient(bottom, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;
  
  li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
  }
  
  span{
    margin:0 1em;
    display: block;
    background: rgba(#b1ddf3, .75);
    animation: draw 1s ease-in-out;
    
    &:before{
      position:absolute;
      left:0;right:0;top:100%;
      padding:5px 1em 0;
        display:block;
      text-align:center;
      content:attr(title);
      word-wrap: break-word;
    }
    
  }
  
}

@keyframes draw{
  0%{height:0;} 
}
.checked {
  color: rgb(241, 189, 15);
}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}